/*================= Reset et base styles =================*/
html{
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
*:before, *:after{
  box-sizing: inherit;
}
body{
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-image: url(..//images/Fond.png);
  background-size: 25%;
  background-attachment: fixed;
}
a{
    text-decoration: none;
}
.wrapper{
  width: 1200px;
  margin: 0 auto;
}

/*==========Header==========*/
header {
  padding: 20px 0;
  background-color: #F56700;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}
nav li a{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 1.8rem;
}
nav li a:hover{
    color: #FF8C38;
}

/*==========Hero==========*/
.hero{
    background-image: url(../images/hero.png);
    height: 500px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
    font-size: 3.2rem;
    font-family: 'Freeman', sans-serif;
    margin: 0;
    text-align: center;
    width: 900px;
}
.hero .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*==========Joindre=========*/
.joindre {
    background-color: #F56700;
    color: #FFFFFF;
    height: 125px;
    text-align: center;
    display: flex;
    align-items: center;
}
.joindre .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.joindre button {
    background-color: #FF8C38;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 10px;
    margin: 0;
}
h2{
    font-size: 3rem;
    font-weight: 500;
    color: black;
    margin: 0;
}

/*==========Produits==========*/
.produits {
  margin: 100px 0;     
}
.produits ul {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  margin-top: 30px;
  margin-bottom: 0;
  padding: 0;
  gap: 15px;
}
.produits li a {
  color: black;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
}
h3{
  font-family: 'Freeman', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 3.6rem;
  margin: 0;
}
h4{
  font-family: 'Freeman', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 2.2rem;
  margin: 0;
}
.planches, .souliers {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 0;
}
.planches img, .souliers img {
  width: 290px;
  height: 290px;
  object-fit: cover;
  background-color: white;
}

/*==========Equipe==========*/
.equipe p{
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 30px;
}
.listeequipe {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}
/*











.listeequipe li {
  margin: 0 20px;
}

.listeequipe .photo {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.contact {
  padding: 60px 0;
  text-align: center;
  color: #FFFFFF;
  background-color: #333333;
}

.contact h3 {
  color: #FF6347;
}

.contact button {
  background-color: #FF6347;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 5px;
}

.contact img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

footer {
  background-color: #333333;
  color: #FFFFFF;
  padding: 20px 0;
  text-align: center;
}

footer nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

footer nav li {
  margin: 0 10px;
}

footer nav li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.6rem;
}*/




/* Typographies 
h1, h2, h3, h4 {
  font-family: 'Freeman', sans-serif;
  color: #333333;
}

h1 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}*/

/*




















































































